---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { posts } from "../lib/data";
import Prose from "../components/common/Prose.astro";
import Author from "../components/common/Author.astro";
import FormattedDate from "../components/common/FormattedDate.astro";
import { Image } from "astro:assets";

export const getStaticPaths = (() => {
  return posts.map((post) => {
    return {
      params: { post: post.slug },
      props: { post },
    };
  });
}) satisfies GetStaticPaths;

const { post } = Astro.props;

---

<BaseLayout>
  <div class="container">
    {
      post &&
      <article>
				<Prose>
					<div>
						<div class='flex gap-2'>
							{
								post.tags?.map((tag) => (
									<a
										class='border border-[var(--soft-border-color)] rounded-2xl
                    text-sm text-[var(--color-content-secondary)] bg-[var(--background-color)] 
                    no-underline px-3 py-1
                    transition-all duration-700
                    hover:border-[var(--color-primary)] hover:bg-[var(--color-primary)] hover:text-white'
										href={`/tags/${tag.slug}`}>
										{tag}
									</a>
								))
							}
						</div>
						<h1 class='leading-tight'>{post.title}</h1>
						<div class='sm:flex sm:justify-between sm:items-start text-[var(--color-content-secondary)]'>
							<Author picSize='sm' details={post.author} />
							<div class='text-sm font-[500] mt-2 sm:mt-0 py-1 md:text-right'>
								<div>
									Published on <strong><FormattedDate date={post.date} format="long" /></strong>
								</div>
								{
									post.modified && (
										<div>
											Last updated on{' '}
											<strong>
												<FormattedDate  date={post.modified} format="long" />
											</strong>
										</div>
									)
								}
							</div>
						</div>
						<div class='-mx-4 md:-mx-6 lg:-mx-8 max-h-[400px] overflow-hidden'>
							{post.featuredImage && <Image class='!rounded-none w-full m-0 mt-4 lg:mb-2' src={post.featuredImage.sourceUrl} alt={post.title} loading='eager' width={1024} height={512} />}
						</div>
					</div>
					<div set:html={post.content}>
				</Prose>
			</article>
    }
  </div>
</BaseLayout>