---
import type { GetStaticPaths } from 'astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { pages } from '../lib/data';
import Prose from '../components/common/Prose.astro';
import Author from '../components/common/Author.astro';
import FormattedDate from '../components/common/FormattedDate.astro';
import { Image } from 'astro:assets';
import { render } from 'astro:content';
import { calculateReadingTime } from '../lib/utils';
import { SITE } from 'astro:env/server';
import { Icon } from 'astro-icon/components';
import { optimizeImagesInsideHtmlString } from '../lib/node-utils';

export const getStaticPaths = (() => {
	return pages.map((page) => {
		return {
			params: { page: page.slug },
			props: { page }
		};
	});
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const shareUrl = SITE + '/' + page.slug + '/';
const shareText = page.title;

// Ideally, the image optimization should be done in loader, but it doesnt work because of these issue:
// https://github.com/withastro/astro/issues/12689
// https://github.com/withastro/astro/issues/12902
// Putting this in ./data.ts also not working as it makes Astro not building any page
page.rawPageEntry.rendered = { ...page.rawPageEntry.rendered, html: await optimizeImagesInsideHtmlString(page.rawPageEntry.rendered?.html || '')}


const { Content } = await render(page.rawPageEntry);
---

<BaseLayout title={page.seoTitle || page.title} description={page.metaDesc || page.excerpt}  image={page.featuredImage?.sourceUrl}>
	<div class='container'>
		{
			page && (
				<article class='max-w-screen-lg mx-auto flex flex-col gap-6 md:p-4' transition:name={`${page.slug}`}>
					<div class='max-w-screen-md mx-auto flex flex-col gap-6 items-center text-center'>

            <h1 class='text-2xl md:text-4xl font-bold text-pretty' transition:name={`${page.slug}-title`} set:html={page.title} />
						<div class='flex gap-4 flex-wrap items-center justify-center' transition:name={`${page.slug}-meta`}>
							<Author details={page.author} picSize='md' />
							<div class='rounded-full size-1.5 bg-gray-300' />
							<div class='text-gray-600 text-sm'>
								<FormattedDate date={page.date} format='long' />
							</div>
							<div class='rounded-full size-1.5 bg-gray-300' />
							<div class='text-gray-600 text-sm'>{calculateReadingTime(page.content)} min read</div>
						</div>
					</div>
					<div class='max-h-[492px] overflow-hidden rounded-3xl' transition:name={`${page.slug}-image`}>
						{page.featuredImage && (
							<Image
								src={page.featuredImage?.sourceUrl}
								alt={page.title}
								width={1440}
								class='w-full object-cover'
								height={768}
								loading='eager'
							/>
						)}
					</div>
					<div class='max-w-screen-md mx-auto'>
						<Prose>
							<Content />
						</Prose>

						<div class='flex gap-4 md:justify-end'>
							<div class='flex items-center space-x-4 mt-8'>
								<div class='text-gray-400 text-sm font-medium'>Share to</div>
								<a
									href={`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(shareUrl)}`}
									target='_blank'
									rel='noopener noreferrer'
									class='text-gray-400 hover:text-blue-600 transition'
									aria-label='Share on Facebook'>
									<Icon name='facebook' class='size-5' />
								</a>

								<a
									href={`https://twitter.com/intent/tweet?url=${encodeURIComponent(shareUrl)}&text=${encodeURIComponent(shareText)}`}
									target='_blank'
									rel='noopener noreferrer'
									class='text-gray-400 hover:text-black transition'
									aria-label='Share on X (Twitter)'>
									<Icon name='x' class='size-5' />
								</a>

								<a
									href={`https://www.linkedin.com/shareArticle?url=${encodeURIComponent(shareUrl)}&title=${encodeURIComponent(shareText)}`}
									target='_blank'
									rel='noopener noreferrer'
									class='text-gray-400 hover:text-blue-500 transition'
									aria-label='Share on LinkedIn'>
									<Icon name='linkedin' class='size-5' />
								</a>

								<a
									href={`https://pinterest.com/pin/create/button/?url=${encodeURIComponent(shareUrl)}&description=${encodeURIComponent(shareText)}`}
									target='_blank'
									rel='noopener noreferrer'
									class='text-gray-400 hover:text-red-600 transition'
									aria-label='Share on Pinterest'>
									<Icon name='pinterest' class='size-5' />
								</a>

								<a
									href={`https://reddit.com/submit?url=${encodeURIComponent(shareUrl)}&title=${encodeURIComponent(shareText)}`}
									target='_blank'
									rel='noopener noreferrer'
									class='text-gray-400 hover:text-orange-600 transition'
									aria-label='Share on Reddit'>
									<Icon name='reddit' class='size-5' />
								</a>
							</div>
						</div>
					</div>
				</article>
			)
		}
	</div>
</BaseLayout>
