---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getSiteSettings } from '../lib/wp-utils';
import FeaturedPost from '../components/pages/home/FeaturedPost.astro';
import { posts, slugCategoryMapping } from '../lib/data';
import PostCard from '../components/common/Post.astro';
import Pagination from '../components/common/Pagination.astro';
import { generatePagination } from '../lib/utils';
import { POSTS_PER_PAGE } from 'astro:env/server';

const siteSettings = await getSiteSettings();

const popularCategorySlugs = ['artificial-intelligence', 'gadgets', 'automotive', 'social-media', 'startup', 'security']
const categories = popularCategorySlugs.map(slug => slugCategoryMapping[slug]).filter(cat => !!cat)

const pagination = generatePagination(posts.length, 1, POSTS_PER_PAGE);
const paginatedPosts = posts.slice(0, POSTS_PER_PAGE)
---

<BaseLayout title={siteSettings.name} description={siteSettings.description}>
	<div class="container">
    <FeaturedPost source={posts} />

    <!-- Popular topics -->
    <div class="mb-12">
      <h2 class="text-gray-700 font-semibold text-xl mb-4">Popular topics</h2>
      <div class={`grid grid-cols-6 items-center gap-6`}>
        {
          categories.map((category, i) => 
            <a
              href={`/category/${category.slug}/`}
              class="
                col-span-2 md:col-span-1 
                border border-gray-100 bg-gray-50
                rounded-xl p-4
                font-semibold text-gray-700
                h-20 line-clamp-2 
                flex items-center justify-center text-center
                transition duration-500
                hover:border-sky-300 hover:bg-sky-50 hover:shadow
              ">
              {category.name}
            </a>
          )
        }
      </div>
    </div>

    <!-- Latest posts -->
    <div class="mb-12">
      <h2 class="text-gray-700 font-semibold text-xl mb-4">Latest posts</h2>
      <div class="grid grid-cols-3 gap-6" transition:name="post-grid">
        {
          paginatedPosts.map(post => <PostCard post={post} />)
        }
      </div>
      <Pagination pagination={pagination}, basePath='/' />
    </div>
  </div>
</BaseLayout>
