---
import type { Pagination } from '../../lib/types';
import { Icon } from 'astro-icon/components';

interface Props {
	pagination: Pagination;
	basePath: string;
	basePathAsFirstPage?: boolean;
}

const { pagination, basePath = '/', basePathAsFirstPage = true } = Astro.props;
---

<nav class='flex justify-center my-8 font-medium'>
	<ul class='inline-flex items-center space-x-2'>
		<!-- Previous Button -->
		{
			pagination.hasPrevious ? (
				<li>
					<a
						href={`${basePath}${pagination.previousPage === 1 && basePathAsFirstPage ? '' : `page/${pagination.previousPage}`}`}
						class='block px-3 py-2 bg-gray-50 border border-gray-100 text-gray-600 rounded hover:bg-sky-100 hover:border-sky-300 transition duration-500'
						aria-label='Previous Page'>
						<Icon name='chevron-left' size={18} />
					</a>
				</li>
			) : (
				<li>
					<span
						class='block px-3 py-2 bg-gray-50 border border-gray-100 text-gray-400 rounded cursor-not-allowed'
						aria-label='No Previous Page'>
						<Icon name='chevron-left' size={18} />
					</span>
				</li>
			)
		}

		<!-- First Page Link -->
		{
			pagination.showFirst && (
				<li>
					<a
						href={`${basePath}`}
						class='px-4 py-2 bg-gray-50 border border-gray-100 text-gray-600 rounded hover:bg-sky-100 hover:border-sky-300 transition duration-500'>
						1
					</a>
				</li>
			)
		}

		<!-- Ellipsis before page numbers if needed -->
		{
			pagination.showFirst && (
				<li>
					<span class='px-2 text-gray-400'>...</span>
				</li>
			)
		}

		<!-- Page Numbers -->
		{
			pagination.pageNumbers.map((page) => (
				<li>
					<a
						href={`${basePath}page/${page}`}
						class={`px-4 py-2 rounded ${
							page === pagination.currentPage
								? 'bg-sky-500 border border-sky-500 text-white'
								: 'bg-gray-50 border border-gray-100 text-gray-600 hover:bg-sky-100 hover:border-sky-300 transition duration-500'
						}`}>
						{page}
					</a>
				</li>
			))
		}

		<!-- Ellipsis after page numbers if needed -->
		{
			pagination.showLast && (
				<li>
					<span class='px-2 text-gray-400'>...</span>
				</li>
			)
		}

		<!-- Last Page Link -->
		{
			pagination.showLast && (
				<li>
					<a
						href={`${basePath}page/${pagination.totalPages}`}
						class='px-4 py-2 bg-gray-50 border border-gray-100 text-gray-600 rounded hover:bg-sky-100 hover:border-sky-300 transition duration-500'>
						{pagination.totalPages}
					</a>
				</li>
			)
		}

		<!-- Next Button -->
		{
			pagination.hasNext ? (
				<li>
					<a
						href={`${basePath}page/${pagination.nextPage}`}
						class='block px-3 py-2 bg-gray-50 border border-gray-100 text-gray-600 rounded hover:bg-sky-100 hover:border-sky-300 transition duration-500'
						aria-label='Next Page'>
						<Icon name='chevron-right' size={18} />
					</a>
				</li>
			) : (
				<li>
					<span
						class='block px-3 py-2 bg-gray-50 border border-gray-100 text-gray-400 rounded cursor-not-allowed'
						aria-label='No Next Page'>
						<Icon name='chevron-right' size={18} />
					</span>
				</li>
			)
		}
	</ul>
</nav>
